## 应用监听端口
server:
  mode: "debug"
#  mode: "release"
  port: ":8000"

## jwt 密钥
jwt:
  key: "my_jwt_key"

## 数据库配置
database:
  postgresql:
    host: "localhost"
    user: "postgres"
    password: "root"
    dbname: "gin_web"
    port: "5432"
    sslmodel: "disable"
    timezone: "Asia/Shanghai"